/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-09-20, 11:25:41
    Author     : Agata
*/
body{
    /*background-color: blueviolet;*/
    /*kolor strony*/
    font-family: Arial,Verenda, Tahoma,sans-serif;
    margin: 0;
}

.logo{
    text-decoration: none;
    color:green;
    font-size: 40px;
}
header
{
    background-image: url("../images/header.jpg");
    width:100%;
    height:400px;
    color:white ;
   padding: 50px 0;
}
   
   nav{
       display:inline-block;
       text-align:right;
       width:870px;
   }

   nav ul{
       padding: 0;
   }
   nav ul li{
       display: inline-block;
       padding: 10px;
   }
   nav ul li a{
      color:#fff;
      text-decoration: none;
   }
   nav ul li a:hover{
       color:#55B388;
   }
   
   /*wysrodkowanie str*/
   .middle{
       margin:0 auto;
       width: 1000px;
   }
   .button{
       color: white;
       background-color:#55B388;
       /*kolor tla*/
    -webkit-border-radius: 5px 5px;
        border-radius: 5px 5px;
        /*wygenerowany zaokraglony button*/
       text-decoration: none; 
       /*bez podkreslenia*/
       
    padding-top: 10px;
    padding-left:10px; 
    padding-bottom: 10px;  
    padding-right: 10px;
      /*zamiast padding:10px*/ 
    margin-top: 20px;
    display: block;
    width: 105px;
    /*szerokosc*/
    text-align: center;
    /*wysrodkowanie tekstu*/
   }
    
   .left-block, .right-block  {
     display: inline-block;
     margin-top: 50px; 
   }
   .left-block{
     width: 400px;
     vertical-align: top;
   }
   .right-block{
       width: 400px;
   } 
     
   .prawo{
    margin-left: 200px;
   }

   
   
   .heder-text{
       color: white;
       line-height: 25px;
   }
   
   .alginTexRight{
       text-align: right;
   }
   h2{
     text-align: left;
   }
   
   .tlo-zielone{
      background-color: #55B388;
          height: 500px;
   }
   .tlo-zielone h2, .tlo-zielone h3{
       text-align:center;
       color:#ffffff;
       
   } 
   .kapelusz{
       width: 800px;
           /*szerokosc*/
       height:533px; 
       /*wysokosc*/
   }
   .color-wyrazu{
       color:#55B388;
   }
   h3{
       text-align: center;
   }
   .biala-sekcja{
       margin-top: 200px;
   }
   video{
       width: 600px;
       height:426px;
       margin-left:200px;
   }
   .Agata-srodek{
       text-align: center;
   }
   .circle{
       height:80px;
       width:80px;
       border-radius: 50px;
       display: inline-block;
       background-color: #55B388;
       text-decoration: none;
       color: #ffffff;
   }
   /*stopka*/
   .circle:after{
       content: "<";
       display: block;
       font-size: 50px;
       transform: rotate(90deg);
       -ms-transform:rotate(90deg);
       -webkit-transform: rotate (90deg);
        margin-top:7px;
   }
   .circle:hover{
       background-color: #7fd8af;
   }